/* generic styles */

html {
  font-size: 16px;
  font-family: Helvetica;
  color: darkslategrey;
}

main, footer {
  position: relative;
  top: 4rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

span,
p,
h2 {
  line-height: 1.5;
}

.dark {
  background-color: #d1d1d1;
}

.medium {
  background-color: #e1e1e1;
}

.light {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  height: auto;
}

/* flex boxes */

header,
.company,
.banner,
.message,
.first-block,
.information,
.text,
.second-block,
.learning,
.third-block,
.thesis,
.topic,
footer {
  display: flex;
}

header, .company, footer {
  justify-content: space-between;
  align-items: center;
}

.message,
.text,
.second-block,
.third-block {
  flex-flow: column;
  justify-content: center;
}


/* styles for mutliple areas */

.banner .big-image,
.first-block .left {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.message h1,
.message h2,
.quote p {
  margin-bottom: 2rem;
}

.message h1,
.message h2,
.message a {
  margin-left: 3rem;
  margin-right: 5rem;
}

.first-block .right,
.third-block .right {
  width: 40%;
}

.information h2,
.information p,
.topic h2,
.topic p {
  margin-bottom: 0.5rem;
  padding-right: 2rem;
}

.second-block h1,
.third-block h1 {
  padding-bottom: 2rem;
  margin: auto;
}


/* header styles */

header {
  position: fixed;
  top: 0;
  height: 4rem;
  z-index: 5;
  background-color: white;
  width: 100%;
}

.logo {
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  width: auto;
}

.company div {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.thin {
  opacity: 0.7;
}

nav {
  margin-right: 0.5rem;
}

nav span {
  margin: 1rem;
}

nav a {
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.375rem;
}


/* banner and first block big image styles */

.message {
  width: 40%;
}

.message a {
  font-size: 1.375rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: darkslategrey;
  padding: 0.5rem;
}



/* first block styles */

.quote {
  padding: 2rem 0;
}

.quote h1 {
  margin-bottom: 1.5rem;
}

.small-image {
  padding: 1rem;
  width: 35%;
}

.text {
  width: 65%;
}

.first-block .right {
  margin-top: 1rem;
}

.information .text a {
  text-decoration: none;
  color: dodgerblue;
}

/* second block styles */

.second-block {
  padding: 2rem 4.5rem 0 4.5rem;
}

.learning {
  justify-content: center;
  margin-bottom: 2rem;
}

.box {
  width: 33%;
  background-color: white;
}

.middle {
  margin-left: 2rem;
  margin-right: 2rem;
}

.description {
  padding: 1.5rem 1rem;
}

.courses {
  display: block;
  margin-bottom: 0.5rem;
}

.description h2 {
  margin-bottom: 1rem;
}

/* third block styles */

.third-block {
  padding-top: 2rem;
}

.third-block .left {
  padding: 0 1.5rem 2rem 1.5rem;
  width: 60%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.video-text {
  margin-top: 1.5rem;
}

.video-text h2 {
  padding-bottom: 0.5rem;
}

/* footer styles */

footer {
  padding: 1rem 1.5rem 4rem 1.5rem;
  border-top: 1px solid #d1d1d1;
}

footer span {
  font-size: 1rem;
}

.list a {
  text-decoration: none;
  color: darkslategrey;
}

.list span {
  padding-left: 1.5rem;
}
