/* generic styles */

html {
  font-size: 16px;
  font-family: Helvetica;
  color: darkslategrey;
}

main, footer {
  position: relative;
  top: 64px;
  top: 4rem;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}

span,
p,
h2 {
  line-height: 1.5;
}

.dark {
  background-color: #d1d1d1;
}

.medium {
  background-color: #e1e1e1;
}

.light {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  height: auto;
}

#mobile {
  display: none;
}

@media only screen and (min-width: 860px) and (max-width: 1020px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width:730px) and (max-width: 860px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 730px) {
  #mobile {
    display: block;
  }

  #desktop {
    display: none;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

/* flex boxes */

header,
.company,
.banner,
.message,
.first-block,
.information,
.text,
.second-block,
.learning,
.third-block,
.thesis,
.topic,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header, .company, footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.message,
.text,
.second-block,
.third-block {
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


/* styles for mutliple areas */

.banner .big-image,
.first-block .left {
  padding: 32px 24px;
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.message h1,
.message h2,
.quote p {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.message h1,
.message h2,
.message a {
  margin-left: 48px;
  margin-left: 3rem;
  margin-right: 80px;
  margin-right: 5rem;
}

.first-block .right,
.third-block .right {
  width: 40%;
}

.information h2,
.information p,
.topic h2,
.topic p {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  padding-right: 32px;
  padding-right: 2rem;
}

.second-block h1,
.third-block h1 {
  padding-bottom: 32px;
  padding-bottom: 2rem;
  margin: auto;
}

@media only screen and (max-width: 730px) {
  .message h1,
  .message h2,
  .message a {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


/* header styles */

header {
  position: fixed;
  top: 0;
  height: 64px;
  height: 4rem;
  z-index: 5;
  background-color: white;
  width: 100%;
}

.logo {
  height: 32px;
  height: 2rem;
  margin-left: 24px;
  margin-left: 1.5rem;
  margin-right: 8px;
  margin-right: 0.5rem;
  width: auto;
}

.company div {
  font-size: 24px;
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.thin {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

nav {
  margin-right: 8px;
  margin-right: 0.5rem;
}

nav span {
  margin: 16px;
  margin: 1rem;
}

nav a {
  text-decoration: none;
  color: darkslategrey;
  font-size: 22px;
  font-size: 1.375rem;
}

@media only screen and (max-width: 730px) {
  header {
    height: 4rem;
  }
  nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            -ms-grid-row-align: center;
                align-items: center;
  }
  .logo {
    margin: 0;
  }
  nav a {
    margin: 0 2rem;
  }
}

/* banner styles */

.message {
  width: 40%;
}

.message a {
  font-size: 22px;
  font-size: 1.375rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: darkslategrey;
  padding: 8px;
  padding: 0.5rem;
}

@media only screen and (max-width: 730px) {
  .banner {
    -ms-flex-flow: column;
        flex-flow: column;
  }

  .banner .big-image {
    width: 100%;
    padding: 0;
  }

  .message {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* first block styles */

.quote {
  padding: 32px 0;
  padding: 2rem 0;
}

.quote h1 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.small-image {
  padding: 16px;
  padding: 1rem;
  width: 35%;
}

.text {
  width: 65%;
}

.first-block .right {
  margin-top: 16px;
  margin-top: 1rem;
}

.information .text a {
  text-decoration: none;
  color: dodgerblue;
}

@media only screen and (max-width: 730px) {
  .first-block .right {
    width: 100%;
    margin-top: 0;
  }

  .information {
    -ms-flex-flow: column;
        flex-flow: column;
  }

  .information .small-image {
    width: auto;
  }

  .information .text {
    padding: 0.5rem 2rem 2rem 2rem;
    width: auto;
  }
}

/* second block styles */

.second-block {
  padding: 32px 72px 0 72px;
  padding: 2rem 4.5rem 0 4.5rem;
}

.learning {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.box {
  width: 33%;
  background-color: white;
}

.middle {
  margin-left: 32px;
  margin-left: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
}

.description {
  padding: 24px 16px;
  padding: 1.5rem 1rem;
}

.courses {
  display: block;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.description h2 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 730px) {
  .second-block {
    padding: 2rem 1rem;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
  }

  .second-block h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  .widget {
    display: block;
    text-decoration: none;
    color: darkslategrey;
    background-color: #e1e1e1;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-top: 0.5rem;
  }
}


/* third block styles */

.third-block {
  padding-top: 32px;
  padding-top: 2rem;
}

.third-block .left {
  padding: 0 24px 32px 24px;
  padding: 0 1.5rem 2rem 1.5rem;
  width: 60%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.video-text {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.video-text h2 {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 730px) {
  .third-block h1 {
    text-align: center;
    padding-bottom: 1rem;
  }

  video {
    margin-bottom: 1.5rem;
  }
}

/* footer styles */

footer {
  padding: 16px 24px 64px 24px;
  padding: 1rem 1.5rem 4rem 1.5rem;
  border-top: 1px solid #d1d1d1;
}

footer span {
  font-size: 12px;
  font-size: 0.75rem;
}

.list a {
  text-decoration: none;
  color: darkslategrey;
}

.list span {
  padding-left: 24px;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 730px) {
  footer {
    padding: 1rem;
  }
}
